<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8">
    <meta http-equiv="Lang" content="es">
    <title>Contactos</title>
    <script type="text/javascript" src="Libs/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="Libs/jQuery/jquery.VerifyDateTime.min.js"></script>    
    <script type="text/javascript" src="Libs/APJ/js/jqajaj.min.js"></script>
    <script type="text/javascript">
    var url = "APJ:{self()}";
    var timeout = APJ:{timeout()};
    </script>
    <link rel="stylesheet" type="text/css" href="Libs/APJ/css/jqajaj.css">
    <link rel="stylesheet" type="text/css" href="css/comun.css">
  </head>
  <body>
    <div id="listadodiv" class="showDown"></div>
    <section>
      <h2>Mantención de Contactos</h2>
      <form id="form" name="form">
        <table class="tabla">
          <tbody>
            <tr>
              <th class="derecha">País:</th>
              <td>
                <input type="hidden" name="id" id="id" value="">
                <select name="pais" id="pais" onchange="APJCall('cambiaCiudades',this.value)">
                  <option value="">-Seleccione el País-</option>
                  APJ:{optPaises()}
                </select>
              </td>
            </tr>
            <tr>
              <th class="derecha">DNI:</th>
              <td>
                <input type="text" name="dni" id="dni" maxlength="25" size="25" onchange="APJCall('buscarDNI',$('#pais').val(),this.value)">
              </td>
            </tr>
            <tr>
              <th class="derecha">Nombres:</th>
              <td>
                <input type="text" name="nombres" id="nombres" maxlength="50" size="50">
                <button type="button" class="smallButton" onclick="APJCall('buscarNombres',$('#nombres').val())" title="Buscar por nombre o apellidos">v</button>
              </td>
            </tr>
            <tr>
              <th class="derecha">Apellido Paterno:</th>
              <td>
                <input type="text" name="apellido_paterno" id="apellido_paterno" maxlength="40" size="40">
              </td>
            </tr>
            <tr>
              <th class="derecha">Apellido Materno:</th>
              <td>
                <input type="text" name="apellido_materno" id="apellido_materno" maxlength="40" size="40">
              </td>
            </tr>
            <tr>
              <th class="derecha">Ciudad:</th>
              <td id="CiudadTd">
                <select name="ciudad" id="ciudad">
                  <option value="">-Seleccione la Ciudad-</option>
                  APJ:{optCiudades()}
                </select>
              </td>
            </tr>
            <tr>
              <th class="derecha">Dirección:</th>
              <td>
                <input type="text" name="direccion" id="direccion" maxlength="100" size="50">
              </td>
            </tr>
            <tr>
              <th class="derecha">Fono:</th>
              <td>
                <input type="text" name="fono" id="fono" maxlength="25" size="20">
              </td>
            </tr>
            <tr>
              <th class="derecha">email:</th>
              <td>
                <input type="email" name="email" id="email" maxlength="255">
              </td>
            </tr>
            <tr>
              <th class="derecha">Fecha de nacimiento:</th>
              <td>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" onblur="APJCall('calculaEdad',this.value)">
                <span id="edad">Edad: 0</span>
              </td>
            </tr>
            <tr>
              <th class="derecha">Activo:</th>
              <td>
                <input type="checkbox" name="activo" id="activo" value="1" checked="checked">
              </td>
            </tr>
          </tbody>
        </table>
        <article>
          <div class="inline">
          <button type="button" onclick="APJSubmit('form','guardar')">GUARDAR</button>
          </div>
          <div id="eliminar" class="inline"></div>
          <div class="inline">
          <button type="reset" id="reset">LIMPIAR</button>
          </div>
        </article>      
      </form>
    </section>
    <section class="scrollv" style="max-height: 300px;">
      <table class="tabla">
        <caption>LISTA DE CONTACTOS</caption>
        <thead id="encabeado">
          APJ:{creaEncabezado()}
        </thead>
        <tbody id="grillaContactos">
          APJ:{grillaContactos()}
        </tbody>
      </table>
    </section>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#reset").click(function() {
          $("#edad").text("Edad: 0");
          $("#pais").focus();
        });
      })
    </script>
  </body>
</html>
