<!DOCTYPE html>
<html>
<head>
<base href="/contactos/">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Home</title>
<script type="text/javascript" src="Libs/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="Libs/APJ/js/jqajaj.js"></script>
<script type="text/javascript">
var url = "APJ:{self()}";
var timeout = APJ:{timeout()};
</script>
<link rel="stylesheet" type="text/css" href="Libs/APJ/css/jqajaj.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
  <div class="container" id="contenedor">
    <div class="center"><h1>Adminsitrador de Contactos</h1></div>
    </br>
    <div class="center"><h3>Ejemplo de uso de APJ</h3></div>
  </div>
</body>
</html>
